[0]	[1]	[2] [3]
wt	st	st	wt
wd	wd	st	wd
sh	sh	st	sh
wt	wd	st	wt
wd	sh	st	wd
wt	sh	wd	wt
wd	st	wd	sh
st	st	sh	st
wd	wt	st	wd
st	sh	wt	st
st	st	wt	st
sh	st	sh	wd
sh	st	wt	sh
wt	wd	sh	wt
st	sh	wd	st
wd	wt	sh	wd
wd	sh	wt	wd
st	wd	wt	st
sh	st	wd	sh
st	wt	st	wd
wd	wt	wd	sh
wt	st	st	wt
wt	st	wd	wt
st	sh	st	wd
wd	wt	wt	wd
sh	sh	wt	sh
wd	st	st	wd
st	wt	sh	st
sh	st	st	sh
sh	wt	st	sh
wd	wt	wt	wd
wd	st	wt	wd
sh	wt	sh	wd
st	wt	wd	st
wt	sh	wt	wd
st	st	wd	st
wd	st	wd	wt
wt	wt	wd	wt
sh	wd	wt	sh
wd	sh	sh	wd
wd	st	sh	wd
sh	st	st	sh
st	wd	sh	st
wd	wd	wt	wd
st	wt	st	sh
sh	wt	wd	sh
wd	wd	sh	wd
sh	wd	st	sh
wt	st	sh	wt
sh	st	sh	wt
sh	wt	wt	sh
sh	sh	wd	sh
wd	sh	sh	wd
wt	st	wt	wd
wt	wt	sh	wt
wt	wt	st	wt
sh	wt	wt	sh
wt	sh	st	wt
wt	st	wt	sh
wd	st	st	wd